div.products_head > h2{
    text-align: center;
    color: rgb(252, 160, 22);
}

div.item_head > h4{
    margin-top: 1.7rem;
    color: rgb(82, 8, 8);
    text-align: center;
    margin-bottom: 2rem;
}


@media (max-width: 500px){
    div.products_head > h2{
        font-size: 2rem;
    }

    div.item_head > h4{
        margin-top: 1rem;
        font-size: 1.2rem;
    }
}